@model IEnumerable<asp2184587.Models.Reporte>

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="font-size=34px;">Reporte</h2>

<table class="table">
    <tr>
        <th>Proveedor</th>
        <th>Proveedor Telefono</th>
        <th>Proveedor Direccion</th>
        <th>Producto</th>
        <th>Producto Precio</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.nombreProveedor)</td>
            <td>@Html.DisplayFor(modelItem => item.telefonoProveedor)</td>
            <td>@Html.DisplayFor(modelItem => item.direccionProveedor)</td>
            <td>@Html.DisplayFor(modelItem => item.nombreProducto)</td>
            <td>@Html.DisplayFor(modelItem => item.precioProducto)</td>
        </tr>
    }
</table>

<img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Sena_Colombia_logo.svg" alt="Alternate Text" />